/* font-family: 'Comfortaa', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Noto Serif JP', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */

.body {
    font-family: 'Open Sans', sans-serif;
}

.mono {
    font-family: 'Major Mono Display', monospace;
}

.navbar-brand {
    font-size: 0.9rem;
}

.nav-item {
    font-family: 'Comfortaa', cursive;
    padding: 0 20px;
}

.nav-item:hover {
    font-weight: bold;
}

#title,
#title .jumbotron {
    background-color: floralwhite;
}

#title .jumbotron {
    padding: 5% 0;
}

.row {
    margin: 0;
}

.container {
    min-width: 90%;
    padding: 4vh 0 1vh 0;
}

.hello {
    font-family: 'Playfair Display', serif;
    font-size: 12rem;
}

.desc {
    margin: auto;
    font-size: 2rem;
    width: 80%;
}

@media (max-width: 500px) {
    .hello {
        font-size: 5rem;
    }
    .desc {
        font-size: 0.86rem;
    }
}